<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843757766864-1daeqvlt9sk3k10kaetecer10fb11qd8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843757766864-1daeqvlt9sk3k10kaetecer10fb11qd8</string>
	<key>API_KEY</key>
	<string>AIzaSyCAJSFNbJptuK0v2rJXrl2DZkzcUvy7PiM</string>
	<key>GCM_SENDER_ID</key>
	<string>843757766864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kyratzoglou.MovieApp</string>
	<key>PROJECT_ID</key>
	<string>movieapp-3651b</string>
	<key>STORAGE_BUCKET</key>
	<string>movieapp-3651b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843757766864:ios:4cc6e50db7043066b336d5</string>
	<key>DATABASE_URL</key>
	<string>https://movieapp-3651b.firebaseio.com</string>
</dict>
</plist>